@font-face {
  font-family: 'CustomFont';
  src: url('/assets/fontcoc.png') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background: url('/assets/coc-br-sm.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'CustomFont', sans-serif;
}

